In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

In [2]:
df = pd.read_csv('./datasets/TMDB_movie_dataset_v11.csv')

In [3]:
df.head(1)

,id,title,overview,poster_path,genres,production_companies,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc..."

In [4]:
df.isnull().sum()

id                           0
title                       10
overview                219417
poster_path             348342
genres                  420939
production_companies    571355
keywords                755898
dtype: int64

In [5]:
df.shape

(1048575, 7)

In [6]:
#jst for test
# df = df[df['keywords'].notna()]
# df = df[df['production_companies'].notna()]
# df = df[df['genres'].notna()]
# df = df[df['poster_path'].notna()]
# df = df[df['overview'].notna()]

# both works same
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

id                      0
title                   0
overview                0
poster_path             0
genres                  0
production_companies    0
keywords                0
dtype: int64

In [8]:
df.shape

(146755, 7)

In [9]:
df.head(1)

,id,title,overview,poster_path,genres,production_companies,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc..."

In [10]:
df['tags'] = df['genres'] + df['overview'] + df['production_companies'] + df['keywords']

In [11]:
new = df.drop(columns=['genres','overview','production_companies','keywords'])

In [12]:
new.head(3)

,id,title,poster_path,tags
0,27205,Inception,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, AdventureCobb, a skil..."
1,157336,Interstellar,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science FictionThe adventure..."
2,155,The Dark Knight,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, ThrillerBatman raises th..."

In [13]:
new['tags'] = new['tags'].apply(lambda x: x.lower())

In [14]:
new.head(3)

,id,title,poster_path,tags
0,27205,Inception,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"action, science fiction, adventurecobb, a skil..."
1,157336,Interstellar,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"adventure, drama, science fictionthe adventure..."
2,155,The Dark Knight,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"drama, action, crime, thrillerbatman raises th..."

In [15]:
new['tags'][0]

'action, science fiction, adventurecobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.legendary pictures, syncopy, warner bros. picturesrescue, mission, dream, airplane, paris, france, virtual reality, kidnapping, philosophy, spy, allegory, manipulation, car crash, heist, memory, architecture, los angeles, california, dream world, subconscious'

In [ ]:
# ps = PorterStemmer()

# #this function remove same words like lover loving loved and convert to love

# def stem(d):
#     ans = []
#     for i in d.split():
#         ans.append(ps.stem(i))
        
#     return ' '.join(ans)

# new['tags'] = new['tags'].apply(stem)

In [24]:
cv = CountVectorizer(max_features=500, stop_words='english')

vactor = cv.fit_transform(new['tags']).toarray()

In [25]:
vactor

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [26]:
vactor.shape

(146755, 500)

In [27]:
cv.get_feature_names_out()

array(['20th', 'abuse', 'accident', 'action', 'actor', 'adult',
       'adventure', 'affair', 'age', 'agent', 'alien', 'america',
       'american', 'ancient', 'angeles', 'animal', 'animation', 'anime',
       'army', 'arrives', 'art', 'artist', 'arts', 'attack', 'attempt',
       'away', 'baby', 'bad', 'band', 'bank', 'based', 'battle',
       'beautiful', 'begin', 'begins', 'best', 'big', 'biography',
       'black', 'blood', 'body', 'book', 'boss', 'boy', 'boyfriend',
       'boys', 'break', 'bring', 'brings', 'british', 'bros', 'brother',
       'brothers', 'business', 'california', 'called', 'camp', 'car',
       'care', 'career', 'cartoon', 'case', 'cat', 'century', 'chance',
       'change', 'characters', 'child', 'childhood', 'children',
       'christmas', 'cinema', 'city', 'class', 'close', 'club', 'college',
       'columbia', 'come', 'comedy', 'comedya', 'comes', 'comic',
       'coming', 'community', 'company', 'concert', 'control', 'cop',
       'corporation', 'country', 'couple', 'course', 'crew', 'crime',
       'criminal', 'culture', 'dance', 'dangerous', 'dark', 'daughter',
       'david', 'day', 'days', 'dead', 'death', 'decide', 'decides',
       'deep', 'detective', 'different', 'director', 'discover',
       'discovers', 'disney', 'doctor', 'documentary', 'documentarya',
       'documentarythe', 'does', 'doesn', 'dog', 'don', 'dr', 'drama',
       'dramaa', 'dramain', 'dramathe', 'dream', 'dreams', 'drug',
       'drugs', 'early', 'earth', 'end', 'england', 'entertainment',
       'erotic', 'escape', 'event', 'events', 'evil', 'ex', 'experience',
       'face', 'fall', 'falls', 'family', 'famous', 'fantasy', 'far',
       'father', 'feature', 'features', 'featuring', 'female', 'fiction',
       'fight', 'fighting', 'film', 'filmed', 'films', 'final', 'finally',
       'finds', 'follows', 'footage', 'football', 'force', 'forced',
       'forces', 'forest', 'form', 'fox', 'france', 'free', 'french',
       'friend', 'friends', 'friendship', 'future', 'game', 'gang', 'gay',
       'german', 'germany', 'gets', 'getting', 'ghost', 'girl',
       'girlfriend', 'girls', 'goes', 'going', 'gold', 'goldwyn', 'good',
       'government', 'great', 'group', 'hand', 'hard', 'having', 'head',
       'heart', 'help', 'hero', 'high', 'history', 'hollywood', 'home',
       'hope', 'horror', 'horrora', 'horse', 'hospital', 'hot', 'hotel',
       'house', 'human', 'husband', 'identity', 'ii', 'including',
       'inside', 'international', 'interviews', 'investigation',
       'involved', 'island', 'japan', 'japanese', 'job', 'john', 'join',
       'journey', 'just', 'kill', 'killed', 'killer', 'killing', 'king',
       'know', 'known', 'la', 'land', 'late', 'later', 'law', 'lead',
       'leader', 'leads', 'learn', 'learns', 'leave', 'leaves', 'led',
       'left', 'les', 'lesbian', 'lgbt', 'life', 'light', 'like', 'line',
       'little', 'live', 'lives', 'living', 'local', 'london', 'long',
       'look', 'looking', 'los', 'loss', 'lost', 'love', 'lover', 'magic',
       'make', 'makes', 'making', 'male', 'man', 'marriage', 'married',
       'marry', 'martial', 'media', 'meet', 'meets', 'members', 'men',
       'mental', 'metro', 'middle', 'military', 'mind', 'missing',
       'mission', 'modern', 'money', 'monster', 'mother', 'motion',
       'mountain', 'movie', 'murder', 'murdered', 'music', 'musical',
       'mysterious', 'mystery', 'named', 'national', 'nature', 'new',
       'night', 'noir', 'north', 'novel', 'officer', 'old', 'older',
       'opera', 'order', 'owner', 'parents', 'paris', 'park', 'party',
       'past', 'people', 'perfect', 'performance', 'person', 'personal',
       'picture', 'pictures', 'place', 'plan', 'planet', 'plans', 'play',
       'plot', 'police', 'political', 'popular', 'post', 'power',
       'powerful', 'prison', 'private', 'problems', 'production',
       'productions', 'public', 'race', 'radio', 'real', 'reality',
       'really', 'red', 'relationship', 'relationships', 'released',
       'rescue', 'return', 'returns', 'revenge', 'rich', 'right', 'road',
       'rock', 'romance', 'romancea', 'romantic', 'room', 'run', 'save',
       'scenes', 'school', 'science', 'scientist', 'screen', 'sea',
       'search', 'second', 'secret', 'seen', 'self', 'sent', 'serial',
       'series', 'set', 'sets', 'sex', 'sexual', 'ship', 'short', 'shot',
       'shows', 'silent', 'singer', 'single', 'sister', 'small', 'social',
       'society', 'soldier', 'son', 'soon', 'south', 'space', 'special',
       'spirit', 'sports', 'stage', 'stand', 'star', 'stars', 'start',
       'starts', 'state', 'stop', 'stories', 'story', 'strange', 'street',
       'struggle', 'student', 'students', 'studio', 'studios', 'suddenly',
       'suicide', 'summer', 'super', 'taken', 'takes', 'taking', 'tale',
       'teacher', 'team', 'teenage', 'television', 'tells', 'theme',
       'things', 'thriller', 'thrillera', 'time', 'tour', 'town', 'train',
       'travel', 'tries', 'trip', 'true', 'truth', 'try', 'trying',
       'turn', 'turns', 'tv', 'united', 'universal', 'use', 'using',
       'video', 'village', 'violence', 'visit', 'want', 'wants', 'war',
       'warner', 'water', 'way', 'wealthy', 'wedding', 'west', 'western',
       'white', 'wife', 'wild', 'woman', 'women', 'work', 'working',
       'works', 'world', 'wrestling', 'writer', 'year', 'years', 'york',
       'young', 'younger'], dtype=object)

In [ ]:
similer = cosine_similarity(vactor)